<h1 class="m-5">Noticias</h1>
<% @news.each do |new| %>
  <% if new == News.last %>
  <div class="card bg-dark text-white m-5">
    <%= image_tag new.image %>
    <div class="card-img-overlay">
      <h5 class="card-title"><%= link_to new.title, news_show_path(new.id) %></h2>
      <h3 class="card-text"><%= new.subtitle %></h3>
    </div>
  </div>
  <% else %>
  <div class="card m-3 mx-auto" style="width: 18rem;">
    <%= image_tag new.image %>
    <div class="card-body">
      <h5 class="card-title"><%= link_to new.title, news_show_path(new.id) %></h3>
      <h4 class="card-text"><%= new.subtitle %></h4>
    </div>
  </div>
  <% end %>
<% end %>
<div class="m-5">
  <%= paginate @news %>
  <%= link_to "Home", root_path %>
  <% if current_user.admin? %>
    <%= link_to "Crear noticias", news_new_path %>
  <% end %>
</div>