<h1>Nueva noticia</h1>
<%= form_with model: new, url: news_path, method: :post, local: true, scope: :new do |f| %>
<div>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :subtitle %><br>
  <%= f.text_field :subtitle %>
</div>

<div>
  <%= f.label :content %><br>
  <%= f.rich_text_area :content %>
</div>

<div>
  <%= f.label :image %><br>
  <%= f.file_field :image, 
                   placeholder: 'Subir imagen',
                   direct_upload: true %>
</div>

<%= f.submit "Nueva noticia" %>

<% end %>

<%= link_to "Atrás", root_path %>

<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>