<h1>New News</h1>
<%= form_with model: new, url: news_path, method: :post, local: true, scope: :new do |f| %>
<div>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :subtitle %><br>
  <%= f.text_field :subtitle %>
</div>

<div>
  <%= f.label :content %><br>
  <%= f.text_field :content %>
</div>

<div>
  <%= f.label :image %><br>
  <%= f.text_field :image %>
</div>

<%= f.submit "New News" %>

<% end %>